.body {
    height: 100vh;
    #map {
        text-align: center;
        height: 100%;
    }
    .markes-table-area {
        h4 {
            color: white;
            font-weight: 700;
        }
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: rgba(0,0,0,.8);
        padding: 20px;
        border-radius: 10px;
        z-index: 1000;
        width: 400px;
    }
}